<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://www.pongoresume.com/images/upload/Dwight-Schrute-Sample-Resume_l.gif">Dwight </a> & <a target="_blank" href="http://github.com/dmstoker">Dylan</a>. Two aspiring web developers who are on a mission to make random references to their favorite t.v. shows and share those references to the world.
  <p>
    Together they plan to rise through the ranks to become master hackers. in attempt to expose Jim Halpert for the fraud that he is. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'dylan.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1 dylan">
      <h2 class="text-center">Dylan Stoker</h2>
      <h3 class="text-center">Favorite T.V. Quote:</h3>
      <h4 class="text-center">“Sometimes you gotta work a little so you can ball a lot.”</h4>
      <h5 class="text-right">- Tom Haverford</h5>

      <br />
      <p>
         Dylan Stoker is currently a General Manager of a company that staffs events in Austin, Tx. He also is the co-owner of a DJ Company and mostly DJ's weddings. He has recently become interested in coding and is going through the University of Texas at Austin's Coding Bootcamp. His favorite T.V. shows include: The Office, Parks and Rec, Sons of Anarchy, Shameless, Community, and Billions.
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'dwight.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Dwight K. Schrute</h2>
      <h3 class="text-center">Favorite T.V. Quote:</h3>
      <h4 class="text-center">“Dad, You have no idea what I am capable of.”</h4>
      <h5 class="text-right">- Lex Luthor</h5>
      <br />
      <p>
        Dwight K. Schrute is the Assistant to the Regional Manager at Dunder Mifflin Paper Company, and former volunteer sheriff's deputy. He is also the proud owner of Schrute farms, where he grows beets and sales them to local shops and restaurants. In his free time he enjoys karate, surveillance, and table tennis. His Favorite t.v. shows include: BattleStar Galactica, Judge Judy, The Shield, and The Apprentice, and Smallville.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />

