<div>
<h2>
  <span>SPLURTY QUOTE No. <%= @quote.id %></span>
  </h2>
<h3>
  <tag>Here's the <u>best collection of T.V. quotes</u> you can get!</tag>
</h3>


<h1>  <%= @quote.saying %> </h1>
<h2>- <%= @quote.author %></h2>
<br class="clear" />
<br />
<br />
<br />