

@import "bootstrap";

.clear {
  clear: both;
}

.circle {
  font-weight: bold;
  font-style: italic;
  position: relative;
  border-radius: 100%;
  background: #718ab6;
  border: 1px solid #F7F7F7;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  line-height: 16px;
  cursor: pointer;
  transform: rotate(-15deg);
  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  font-size: 15px;
  padding-top: 24px;
}

.links {
  padding-top: 26px;
}

.links a {
  font-family: 'architects_daughterregular';
  color: #718ab6;
  font-size: 22px;
  font-weight: bold
}

header {
  border-top: 9px solid #222222;
}

hr {
border-top: 6px solid grey;

}

h1 {
  font-family: 'architects_daughterregular';
  font-weight: bold;
  font-size: 48px;
 
}
h2 {
 font-family: 'architects_daughterregular';
}

.next-quote {
  text-align: right;
  font-family: 'architects_daughterregular';
  font-size: 18px;
  color: #718ab6

  }

  .footer-blurb {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-size: 10px;
  font-style: italic;
  text-align: right;

  }

  .footer-blurb blue{
  color: #718ab6;}

  .logo:hover {
  text-decoration: none;
}

.about{
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  }

.about h3{
font-size: 20px;
}

.about h4{
font-size: 18px;
font-style: italic;
}

.about h5{
font-size: 16px;
font-style: italic;
}


@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
  .links a{
  text-align: center;
  }
}

h2 span {
  color: #6C869F;
  font-family: 'architects_daughterregular';
  font-weight: bold;
  font-size: 30px;
}
 h3 tag {
  color: #6C869F;
  font-family: 'architects_daughterregular';
  font-style: italic;
  font-size: 20px;

 }

 h3 show {
 font-family: 'architects_daughterregular';
  font-style: italic;
  

 }
